{%load static%}
<footer class="footer p-relative">
    <div class="container">
        <div class="footer-container">
            <div class="d-flex align-items-center h-100">
                <div class="column-left">
                    <div class="footer-social p-relative">
                        <ul>
                            {%for social in socials%}
                            <li class="over-hidden">
                                <a href="{{social.url}}" data-dsn="parallax" target="_blank"
                                    rel="nofollow">{{social.full_name}}.</a>
                            </li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>

                <div class="scroll-top animation-rotate" data-dsn="parallax">
                    <img src="{% static 'img/scroll_top.svg' %}" alt="">
                    <i class="fa fa-angle-up"></i>
                </div>

                <div class="column-right">
                    <h5>{% now "Y" %} © Copyright <span class="love">♥</span>by
                        <a class="link-hover" data-hover-text="Maiyo." target="_blank" rel="nofollow"
                            href="/">Meshack.</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</footer>