{%load static%}

<!DOCTYPE html>
<html lang="en-US">



<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Meshack Maiyo. UI/UX Designer" />
    <meta name="keyword"
        content="freelancer, responsive, simple, meshack, maiyo, ui, ux, ui/ux, graphics, designer, upwork" />

    <!--  Title -->
    <title>Meshack - {{current_page}}</title>

    <!-- Font Google -->
    <link rel="preload"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;family=Poppins:wght@300;400;500;600;700&amp;display=swap"
        as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;family=Poppins:wght@300;400;500;600;700&amp;display=swap"
            rel="stylesheet">
    </noscript>

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />

    <link rel="preload" href="{% static 'img/circle-dotted.png' %}" as="image" />

    <!-- custom styles (optional) -->
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>