{%load static%}
<div class="site-header dsn-container dsn-load-animate">
    <div class="extend-container d-flex w-100 align-items-baseline justify-content-between align-items-end">
        <div class="inner-header p-relative">
            <div class="main-logo">
                <a href="/" data-dsn="parallax">
                    <em>
                        <b>
                            Meshack
                        </b>
                    </em>
                    <!-- <img class="light-logo"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-dsn-src="{% static 'img/logo.png'  %}" alt="" />
                    <img class="dark-logo"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-dsn-src="{% static 'img/logo-dark.png' %}" alt="" /> -->
                </a>
            </div>
        </div>
        <div class="menu-icon d-flex align-items-baseline">
            <div class="text-menu p-relative  font-heading text-transform-upper">
                <div class="p-absolute text-button">Menu</div>
                <div class="p-absolute text-open">Open</div>
                <div class="p-absolute text-close">Close</div>
            </div>
            <div class="icon-m" data-dsn="parallax" data-dsn-move="10">
                <span class="menu-icon-line p-relative d-inline-block icon-top"></span>
                <span class="menu-icon-line p-relative d-inline-block icon-center"></span>
                <span class="menu-icon-line p-relative d-block icon-bottom"></span>
            </div>
        </div>
        <nav class="accent-menu dsn-container main-navigation p-absolute  w-100  d-flex align-items-baseline ">
            <div class="menu-cover-title">Menu</div>
            <ul class="extend-container p-relative d-flex flex-column justify-content-center h-100">

                <li class="dsn-{{is_home}}">
                    <a href="/" class="user-no-selection">

                        <span class="dsn-title-menu">Home</span>
                        <span class="dsn-meta-menu">01</span>
                        <span class="dsn-bg-arrow"></span>
                    </a>
                </li>

                <li class="dsn-{{is_about}}">
                    <a href="{%url 'about' %}">

                        <span class="dsn-title-menu">About</span>
                        <span class="dsn-meta-menu">02</span>
                        <span class="dsn-bg-arrow"></span>
                    </a>
                </li>

                <!-- <li class="dsn-drop-down">
                    <a href="#" class="user-no-selection">

                        <span class="dsn-title-menu">Portfolio</span>
                        <span class="dsn-meta-menu">03</span>
                        <span class="dsn-bg-arrow"></span>
                    </a>

                </li> -->

                <li class="dsn-{{is_contact}}">
                    <a href="{%url 'contact' %}" class="user-no-selection">

                        <span class="dsn-title-menu">Contact</span>
                        <span class="dsn-meta-menu">03</span>
                        <span class="dsn-bg-arrow"></span>
                    </a>
                </li>
            </ul>
            <div class="container-content  p-absolute h-100 left-60 d-flex flex-column justify-content-center">
                <div class="nav__info">
                    <div class="nav-content">
                        <p class="title-line">
                            Location</p>
                        <p>
                            Nairobi,<br>
                            Kenya</p>
                    </div>
                    <div class="nav-content">
                        <p class="title-line">
                            Contact</p>
                        <p class="links over-hidden">
                            <a href="tell:+254720030567" data-hover-text="+254 720 030 567" class="link-hover">+254 720 030 567</a>
                        </p>
                        <p class="links  over-hidden">
                            <a href="mailto:meshackmaiyo8@gmail.com" data-hover-text="meshackmaiyo8@gmail.com" class="link-hover" target="_blank" >meshackmaiyo8@gmail.com</a>
                        </p>
                    </div>
                </div>
                <div class="nav-social nav-content">
                    <div class="nav-social-inner p-relative">
                        <p class="title-line">
                            Check Me Out</p>
                        <ul>
                        {%for social in socials%}
                        <li>
                                <a href="{{social.url}}" target="_blank" rel="nofollow">{{social.full_name}}.
                                    <div class="icon-circle"></div>
                                </a>
                            </li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>