{%load static%}
{%include '_head.html' with current_page="About"%}

<body class="v-light  dsn-effect-scroll dsn-cursor-effect dsn-ajax dsn-line-style">

    <!-- ========== Loading Page ========== -->
    {%include '_loader.html'%}
    <!-- ========== End Loading Page ========== -->


    <!-- ========== Menu ========== -->
    {%include '_menu.html' with is_about='active'%}
    <!-- ========== End Menu ========== -->

    <main class="main-root">
        <div id="dsn-scrollbar">
            <div class="main-content">

                <!-- ========== Header Normal ========== -->
                <header
                    class="header-page over-hidden p-relative header-padding-top header-padding-bottom border-bottom dsn-header-animation">
                    <div class="bg-circle-dotted"></div>
                    <div class="dsn-container">
                        <div class="content-hero p-relative d-flex flex-column h-100 dsn-hero-parallax-title">
                            <p class="subtitle p-relative line-shap  line-shap-after">
                                <span class="pl-10 pr-10 background-main dsn-load-animate">{{profile.name}}</span>
                            </p>
                            <h1 class="title mt-30 dsn-load-animate text-transform-upper">
                                UI & UX <br> Designer
                            </h1>
                        </div>
                    </div>
                </header>
                <!-- ========== End Header Normal ========== -->


                <div class="wrapper">

                    <div class="image-head p-relative">
                        <div class="before-z-index" data-dsn-grid="move-up" data-overlay="5">
                            <img class="cover-bg-img has-bigger-scale"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-dsn-src="{% static 'img/about/5.jpg' %}" alt="">
                        </div>
                    </div>

                    <!-- ========== About Section ========== -->
                    <section class="about-section-2 p-relative section-margin" data-dsn-title="About">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <p class="sub-heading line-shap line-shap-before mb-15">
                                        <span class="line-bg-right">
                                            What I Do
                                        </span>

                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="box-left">
                                        <div class="section-title">
                                            <h4>Keep Your Business Safe & Ensure High
                                                Availability</h4>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="box-right">
                                        <p class="max-w570 dsn-up mb-15 ">
                                            {{profile.about_message}}
                                        </p>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="box-bottom pt-50 border-top mt-50">
                                        <div class="d-grid d-grid-no-space grid-md-3 grid-sm-1">
                                            {%for category in categories%}
                                            <div class="item d-flex align-items-center">
                                                <i class="fas fa-check theme-color"></i>
                                                <h4 class="title-block ml-15">{{category.name}}</h4>
                                            </div>
                                            {%endfor%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- ========== End About Section ========== -->

                    <div class="section-margin has-popup over-hidden p-relative">
                        <div class="container">
                            <div class="d-grid grid-md-2  over-hidden">
                                <a href="https://res.cloudinary.com/dsw3onksq/image/upload/v1650629608/Mesha/Main_Dashboard_ixc9jx.webp"
                                    class="p-relative over-hidden d-flex h-v-60">
                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                        data-dsn-src="https://res.cloudinary.com/dsw3onksq/image/upload/v1650629608/Mesha/Main_Dashboard_ixc9jx.webp"
                                        data-dsn-srcset="{% static 'img/help-project.jpg 1800w' %} {% static 'img/help-project-sm.jpg 768w' %}"
                                        alt="" class="cover-bg-img">
                                </a>
                                <a href="https://res.cloudinary.com/dsw3onksq/image/upload/v1650629606/Mesha/Profile_Screen_vunrnu.webp"
                                    class="p-relative over-hidden d-flex h-v-60">
                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                        data-dsn-src="https://res.cloudinary.com/dsw3onksq/image/upload/v1650629606/Mesha/Profile_Screen_vunrnu.webp"
                                        data-dsn-srcset="{% static 'img/plan-project.jpg 1800w' %} {% static 'img/help-project-sm.jpg 768w' %}"
                                        alt="" class="cover-bg-img">
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- ========== services Section ========== -->
                    <div class="services-lest p-relative section-margin section-padding background-section"
                        data-dsn-title="Services">
                        <div class="container mb-70 d-flex flex-column">

                            <p class="sub-heading line-shap line-shap-before mb-15">
                                <span class="line-bg-right">
                                    My Services
                                </span>

                            </p>
                            <h2 class="section-title">I will deliver a beautiful <br> digital products for you.</h2>

                        </div>

                        <div class="container">
                            {%for service in services%}
                            <div class="service-lest-item p-relative d-flex border-bottom">
                                <span class="block-number">0{{ forloop.counter }} /</span>

                                <div class="icon">
                                    {% with template_name=service.icon|stringformat:"s"|add:".svg" %}
                                    {% include "svg/"|add:template_name %}
                                    {% endwith %}
                                </div>

                                <div class="service-description">
                                    <h4 class="title-block mb-15">{{service.name}}</h4>
                                    <p class="max-w750">{{service.description}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- ========== End services Section ========== -->


                    <!-- ========== awards Section ========== -->
                    <div class="awards-section p-relative section-margin" data-dsn-title="Awards">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="box-left">
                                        <div class="container mb-30 d-flex flex-column align-items-start">

                                            <p class="sub-heading line-shap line-shap-before mb-15">
                                                <span class="line-bg-right">My Expertise</span>
                                            </p>
                                            <h2 class="section-title">
                                                Projects Completed
                                            </h2>

                                        </div>


                                        <div class="awards-inner mt-30">
                                            <div class="award-item">
                                                <div class="award-number">9</div>
                                                <h4 class="sm-title-block">Happy Clients</h4>
                                            </div>

                                            <div class="award-item">
                                                <div class="award-number">5,600</div>
                                                <h4 class="sm-title-block">Hours Worked</h4>
                                            </div>

                                            <div class="award-item">
                                                <div class="award-number">16</div>
                                                <h4 class="sm-title-block">Succeeded Projects</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mt-sm">
                                    <div class="box-right">
                                        <div class="container-img">
                                            <img class="cover-bg-img" src="{% static 'img/agency-1.jpg' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ========== End awards Section ========== -->

                    <!-- ==========  next page  ========== -->
                    {% include '_contact-me.html' %}
                    <!-- ========== End next page ========== -->

                </div>

                <!-- =================== Footer Section =================== -->
                {% include '_footer.html' %}
                <!-- =================== End Footer Section =================== -->
            </div>
        </div>

        <!-- ========== Contact Form Model ========== -->
        {%include '_contact-modal.html'%}
        <!-- ========== End Contact Form Model ========== -->
    </main>

    <!-- ========== Scroll Right Page To Top Page ========== -->
    {% include '_scroll-to-top.html' %}
    <!-- ========== End Scroll Right Page To Top Page ========== -->


    <!-- ========== Cursor Page ========== -->
    {% include '_cursor.html' %}
    <!-- ========== End Cursor Page ========== -->

    <!-- ========== Style Option Page ========== -->
    {% include '_style-option.html' %}
    <!-- ========== End Style Option Page ========== -->

    <!-- ========== Extras ========== -->
    {% include '_extras.html' %}
    <!-- ========== End Extras ========== -->

    <!-- Optional JavaScript -->
    {% include '_scripts.html' %}