{%load static%}
{%include '_head.html' with current_page="Contact"%}

<body class="v-light dsn-effect-scroll dsn-cursor-effect dsn-ajax dsn-line-style">

    <!-- ========== Loading Page ========== -->
    {%include '_loader.html'%}
    <!-- ========== End Loading Page ========== -->


    <!-- ========== Menu ========== -->
    {%include '_menu.html' with is_contact='active'%}
    <!-- ========== End Menu ========== -->


    <main class="main-root">
        <div id="dsn-scrollbar">
            <div class="main-content">

                <!-- ========== Header Normal ========== -->

                <header
                    class="header-page over-hidden p-relative header-padding-top dsn-header-animation">
                    <div class="bg-circle-dotted"></div>
                    <div class="dsn-container">
                        <div
                            class="content-hero p-relative d-flex align-items-center text-center flex-column h-100 dsn-hero-parallax-title">
                            <p class="subtitle p-relative line-shap  ">
                                <span class="pl-10 pr-10 background-section dsn-load-animate">Let's Talk</span>
                            </p>
                            <h1 class="title mt-20 dsn-load-animate">Contact Me</h1>
                        </div>
                    </div>
                </header>
                <!-- ========== End Header Normal ========== -->


                <div class="wrapper">

                    <!-- <div class="container root-contact"> -->
                        <!-- <div class="full-width">
                            <div class="mapouter">
                                <div class="gmap_canvas p-absolute w-100 h-100"><iframe width="100%" height="500"
                                        id="gmap_canvas"
                                        src="https://maps.google.com/maps?q=-1.3195334,36.8109464&t=&z=11&ie=UTF8&iwloc=&output=embed"
                                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                        href="https://putlocker-is.org"></a><br>
                                    <style>
                                        .mapouter {
                                            position: relative;
                                            text-align: right;
                                            height: 500px;
                                            width: "100%"
                                        }
                                    </style>
                                    <style>
                                        .gmap_canvas {
                                            overflow: hidden;
                                            background: none !important;
                                            height: 500px;
                                            width: "100%"
                                        }
                                    </style>
                                </div>
                            </div> -->
                        <!-- <div class="map-custom p-absolute w-100 h-100" data-dsn-lat="30.0489206"
                                data-dsn-len="31.258553" data-dsn-zoom="14">
                            </div> -->
                        <!-- </div> -->
                    <!-- </div> -->
                    {%include '_contact-form.html'%}

                    <!-- ==========  next page  ========== -->
                    { <section class="next-page p-relative section-padding border-top background-section">
                        <div class="bg-circle-dotted"></div>
                        <div class="bg-circle-dotted bg-circle-dotted-right"></div>
                        <div class="container">
                            <div class="c-wapp d-flex justify-content-between">
                                <div class="d-flex flex-column">
                                    <p class="sub-heading line-shap line-shap-after ">
                                        <span class="line-bg-left">
                                            Don't be left out.
                                        </span>
                                    </p>
                                    <h2 class="section-title max-w750 mt-15">
                                        Would you like more information or
                                        do you have a question?

                                    </h2>


                                </div>

                                <div class="button-box d-flex justify-content-end align-items-center">
                                    <div>
                                        <a href="/" class="mt-30 effect-ajax dsn-button p-relative">
                                            <span class="dsn-border-rdu "></span> My Work
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>}
                    <!-- ========== End next page ========== -->

                </div>
                <!-- =================== Footer Section =================== -->
                {% include '_footer.html' %}
                <!-- =================== End Footer Section =================== -->
            </div>
        </div>


    </main>


    <!-- ========== Scroll Right Page To Top Page ========== -->
    {% include '_scroll-to-top.html' %}
    <!-- ========== End Scroll Right Page To Top Page ========== -->


    <!-- ========== Cursor Page ========== -->
    {% include '_cursor.html' %}
    <!-- ========== End Cursor Page ========== -->

    <!-- ========== Style Option Page ========== -->
    {% include '_style-option.html' %}
    <!-- ========== End Style Option Page ========== -->

    <!-- ========== Extras ========== -->
    {% include '_extras.html' %}
    <!-- ========== End Extras ========== -->

    <!-- Optional JavaScript -->
    {% include '_scripts.html' %}