{%load static%}
{%include '_head.html' with current_page="Home"%}

<body class="v-light dsn-effect-scroll dsn-cursor-effect dsn-ajax dsn-line-style">


    <!-- ========== Loading Page ========== -->
    {%include '_loader.html'%}
    <!-- ========== End Loading Page ========== -->


    <!-- ========== Menu ========== -->
    {%include '_menu.html' with is_home='active'%}
    <!-- ========== End Menu ========== -->


    <main class="main-root">

        <div id="dsn-scrollbar">
            <div class="main-content">
                <div class="wrapper">
                    <!-- ========== Slider Parallax ========== -->
                    <header class="header-project header-personal p-relative h-100-v over-hidden dsn-header-animation"
                        data-dsn-header="parallax">
                        <div data-dsn-ajax="img" class="p-absolute w-50 left-0  h-100 over-hidden dsn-hero-parallax-img"
                            data-overlay="4">
                            <img class="cover-bg-img"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-dsn-src="{{profile.header_image_url}}" alt="">
                        </div>

                        <div class="d-flex align-items-center h-100 v-dark-head-mobile">
                            <div class="content p-relative w-50 ml-auto dsn-container">
                                <div class="intro-project">
                                    <div id="dsn-hero-title" class="intro-title">
                                        <h5
                                            class="mb-20 sm-title-block background-section pl-15 pr-15 pt-5 pb-5 d-inline-block dsn-load-animate">
                                            Welcome
                                        </h5>
                                        <h1 class=" title dsn-load-animate" data-dsn-ajax="title">I'M {{profile.name}}.
                                        </h1>
                                        <hr class="mt-40 mb-30 dsn-load-animate">
                                        <p class="dsn-load-animate">
                                            {{profile.header_message}}
                                        </p>

                                        <a href="#about-me" class="mt-30 dsn-button p-relative dsn-load-animate">
                                            <span class="dsn-border-rdu border-color-theme-color"></span>About
                                            Me
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- ========== End Slider Parallax ========== -->

                    <!-- ========== About Section ========== -->
                    <section id="about-me" class="about-me p-relative section-margin " data-dsn-animate="section"
                        data-dsn-title="About Me">
                        <div class="container d-flex text-center flex-column align-items-center mb-70">
                            <p class="sub-heading mb-15">
                                <span class="icon">{</span>
                                <span class="text">HELLO</span>
                                <span class="icon">}</span>
                            </p>
                            <h2 class="section-title">About Me</h2>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="part-info">
                                        <h4 class="title-block mb-20">A Little Bit about Myself</h4>
                                        <p class="mb-15 border-top pt-20">{{profile.about_message}}</p>

                                        <a href="#" class="dsn-button"
                                            onclick="downloadResume(`{{profile.resume_link}}`)">
                                            <span class="dsn-border border-color-assistant"></span>
                                            Download CV
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="box-skills-inner mt-sm">
                                        {% for category in categories %}
                                        <div class="skills-item  mb-30">
                                            <h4 class="sm-title-block mb-15">{{category.name}}</h4>
                                            <div class="bar">
                                                <span class="fill box-shadow" data-width="{{category.skill_level}}%">
                                                    <span class="number">{{category.skill_level}}%</span>
                                                </span>
                                            </div>
                                            <div class="tip"></div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="col-lg-12 brand-client mt-50 dsn-swiper"
                                    data-dsn-option='{"slidesPerView":4,"spaceBetween":0,"centeredSlides":false,"autoplay":true }'>
                                    <div class="wrapper-client">
                                        <div class="swiper-container w-100">
                                            <div class="swiper-wrapper">
                                                {% for image in extra_images %}
                                                <div class="swiper-slide logo-box dsn-up border-top">
                                                    <div class="logo-box-inner">
                                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                            data-dsn-src="{{image.url}}" alt="">
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </section>
                    <!-- ========== End About Section ========== -->

                    <!-- ========== facts Section ========== -->
                    <div class="facts-section v-dark-head p-relative section-padding section-margin over-hidden">
                        <div class="bg-section p-absolute w-100 h-100 over-hidden top-0">
                            <div class="before-z-index h-100" data-dsn-grid="move-up" data-overlay="7">
                                <img class="p-absolute cover-bg-img has-top-bottom"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-dsn-src="{% static 'img/header.jpg' %}" alt="" data-dsn-move="20%">
                            </div>
                        </div>

                        <div class="container">
                            <div class="d-grid grid-lg-3 grid-sm-2 z-index-1 p-relative">
                                <div class="facts-item">
                                    <div class="text-center p-relative">
                                        <span class="number">9</span>
                                        <h6 class="sm-title-block v-middle w-100">Happy Clients</h6>
                                    </div>
                                </div>

                                <div class="facts-item">
                                    <div class="text-center p-relative">
                                        <span class="number">5,600</span>
                                        <h6 class="sm-title-block v-middle w-100">Working hours were spent</h6>
                                    </div>
                                </div>

                                <div class="facts-item">
                                    <div class="text-center p-relative">
                                        <span class="number">16</span>
                                        <h6 class="sm-title-block v-middle w-100">Succeeded Projects</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ========== End facts Section ========== -->

                    <!-- ========== Work Section ========== -->
                    <section class="work section-margin dsn-col dsn-col-space  dsn-filter not-filter"
                        data-dsn-title="My Work">
                        <div class="container d-flex text-center flex-column align-items-center mb-70">
                            <p class="sub-heading mb-15">
                                <span class="icon">{</span>
                                <span class="text"> My Works</span>
                                <span class="icon">}</span>
                            </p>
                            <h2 class="section-title">Creative Portfolio Designs</h2>
                        </div>

                        <div class="container">
                            <div class="filtering-t mb-50 ">
                                <div
                                    class="filtering-wrap d-flex align-items-center text-center justify-content-center">
                                    <div class="filtering">
                                        <button type="button" data-filter="*" class="active">
                                            All
                                        </button>
                                        {% for category in categories %}
                                        <button type="button"
                                            data-filter=".{{category.filter}}">{{category.name}}</button>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div
                                class="work-inner projects-list work-one-page d-grid grid-md-2  grid-lg-2 p-relative w-100 dsn-item-filter dsn-isotope">

                                {% for project in projects %}
                                <div class="work-item  p-relative {{project.filters}}">
                                    <a class="effect-ajax" data-dsn-ajax="work" href="{%url 'project' project.slug %}">
                                        <div class="work-item-inner">
                                            <h5 class="cat p-absolute">{{project.filters_formatted}}</h5>

                                            <div class="line line-top"></div>
                                            <div class="line line-bottom"></div>
                                            <div class="line line-left"></div>
                                            <div class="line line-right"></div>

                                            <div class="box-img before-z-index" data-overlay="6">
                                                <img class="cover-bg-img has-top-bottom"
                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                    data-dsn-src="{{project.thumbnail_image_url}}" alt="">
                                            </div>
                                        </div>

                                        <div class="box-content">
                                            <h4 class="title-block sec-title">{{project.name}}</h4>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                    <!-- ========== End Work Section ========== -->


                    <!-- ========== Service Section ========== -->
                    <section class="services with-line with-number p-relative section-margin dsn-col"
                        data-dsn-title="My Services" data-dsn-animate="section">
                        <div class="container d-flex text-center flex-column align-items-center mb-70">
                            <p class="sub-heading mb-15">
                                <span class="icon">{</span>
                                <span class="text">My Services</span>
                                <span class="icon">}</span>
                            </p>
                            <h2 class="section-title">Design Services</h2>
                        </div>

                        <div class="container">
                            <div class=" grid dsn-isotope dsn-col">
                                {% for service in services %}
                                <div
                                    class="col-md-6 col-lg-4 dsn-col-lg-3 dsn-col-md-2 dsn-col-sm-1 services-item grid-item dsn-up">
                                    <div class="services-item-inner">
                                        <div class="line line-top"></div>
                                        <div class="line line-bottom"></div>
                                        <div class="line line-left"></div>
                                        <div class="line line-right"></div>

                                        <div class="services-content background-section">
                                            <div class="icon">
                                                {% with template_name=service.icon|stringformat:"s"|add:".svg" %}
                                                {% include "svg/"|add:template_name %}
                                                {% endwith %}
                                            </div>
                                            <div class="service-description">
                                                <h4 class="title-block mb-15">{{service.name}}</h4>
                                                <p>{{service.description}}</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                    <!-- ========== End Service Section ========== -->

                    <!-- ==========  next page  ========== -->
                    {% include '_contact-me.html' %}
                    <!-- ========== End next page ========== -->
                </div>
                <!-- =================== Footer Section =================== -->
                {% include '_footer.html' %}
                <!-- =================== End Footer Section =================== -->
            </div>
        </div>

        <!-- ========== Contact Form Model ========== -->
        {%include '_contact-modal.html'%}
        <!-- ========== End Contact Form Model ========== -->
    </main>


    <!-- ========== Scroll Right Page To Top Page ========== -->
    {% include '_scroll-to-top.html' %}
    <!-- ========== End Scroll Right Page To Top Page ========== -->


    <!-- ========== Cursor Page ========== -->
    {% include '_cursor.html' %}
    <!-- ========== End Cursor Page ========== -->

    <!-- ========== Style Option Page ========== -->
    {% include '_style-option.html' %}
    <!-- ========== End Style Option Page ========== -->

    <!-- ========== Extras ========== -->
    {% include '_extras.html' %}
    <!-- ========== End Extras ========== -->

    <!-- Optional JavaScript -->
    {% include '_scripts.html' %}